
<p>{{data.price}}</p>
<form action="/api/carts/{{user.carts}}/product/{{this._id}}" method="post">
            {{data.title}}<br>
            {{data.description}}<br>
            {{data.price}}<br>
            {{data.code}}<br>
            {{data.stock}}<br>
            {{data.category}}<br>
            {{#each data.thumbnails}}
                <img src={{this}} alt=""></br>
            {{/each}}
            <button type="submit" >Comprar</button></td>
</form>